<div class="container">
  <h1 style="text-align: center">Preview</h1>
  <h6 style="text-align: center">Please, enter the URL of your image. Then you ll be able to add owned pictures into
    your list which you can download</h6>
  <div class="row">
    <div *ngFor="let i of images" class="col-lg-3">
      <img  ngDefaultControl id="imgD" class="imgForLoad" [src]="i" alt="">
      <div class="buttons">
        <button class="btn btn-success" (click)="add(i)">Add</button>

      </div>
    </div>
  </div>
    <div class="inp">
      <label>Your URL-------> <input (input)="getUrl($event)" type="text"
                    onfocus="this.value=''" placeholder="URL"></label>
    </div>
  </div>

<div class="container main">
  <h1 style="text-align: center">Your owned pictures</h1>
  <button type="submit" class="btn btn-success all" (click)="download()">Download</button>
  <div class="row">
    <div *ngFor="let i of imagesForDownload" class="col-lg-3">
      <div class="buttons">
      <button class="btn btn-danger" (click)="delete(i)">Del</button>
      </div>
      <img ngDefaultControl class="imgForLoad" [src]="i" alt="">
    </div>
  </div>
</div>

    <div class="bg-modal">
      <a id="close" (click)="close()"><span>x</span></a>
      <div class="modal-content">
        <img class="img" [src]="image" alt="">
      </div>
    </div>








