<div class="container forDownload">
  <div class="row">

    <div *ngFor="let i of images" class="col-lg-3">
      <form #form="ngForm" (ngSubmit)="sendForm(form)">
        <input  ngModel name="check" type="checkbox" style="display: block; margin: 0 auto">
        <img   ngModel name="image" ngDefaultControl id="imgD" class="imgForLoad" [src]="i" alt="">
        <input ngModel name="text" type="text">
        <input class="btn btn-success" type="submit">
      </form>
    </div>

  </div>
  <div class="container main">
    <div class="buttons">
      <button type="button" class="btn btn-success all" (click)="download()">Download All</button>
    </div>
    <div class="inp">
      <label><input (input)="getUrl($event)" type="text"
                    onfocus="this.value=''" placeholder="URL"></label>
    </div>
    <!--<form [formGroup]="inputForm" class="functions">-->
    <!--<div formArrayName="inputs">-->
    <!--<div *ngFor="let item of inputPoints.controls; let pointIndex=index" [formGroupName]="pointIndex">-->
    <!--<label><img alt=""><input formControlName="url" (input)="getUrl($event, pointIndex+1)" type="text"-->
    <!--onfocus="this.value=''" placeholder="URL"></label>-->
    <!--<button type="button" class="btn btn-danger" (click)="deleteInput(pointIndex)">Delete</button>-->
    <!--<button type="button" class="btn btn-success" (click)="download(pointIndex)">Download</button>-->
    <!--</div>-->

    <!--</div>-->
    <!--</form>-->
  </div>
</div>


<div class="bg-modal">
  <a id="close" (click)="close()"><span>x</span></a>
  <div class="modal-content">
    <img class="img" [src]="currentImg.image" alt="">
  </div>
</div>








